In [1]:

import pandas as pd
from sqlalchemy import create_engine

server="LAPTOP-91GGJ4MU"
database="MOBILE"
driver= "ODBC Driver 17 for SQL Server"

engine = create_engine(f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver={driver}")
df=pd.read_csv(r"C:\Users\HP\Desktop\excel files\mobile_usage.csv")

In [2]:
column_mapping={
    'Phone Brand':'Brand',
    'Number of Apps Installed': 'App Count',
    'Social Media Time (hrs/day)': 'Social Time',
    'Monthly Recharge Cost (INR)': 'Monthly Recharge',
    
}
df.rename(columns=column_mapping,inplace=True)

In [3]:
df.columns=df.columns.str.lower().str.replace(r"\s*\(.*?\)", "", regex=True)
df.columns = df.columns.str.replace(" ", "_")

In [4]:
df.index=df.index+1

In [5]:
df.to_sql("mobile_usage", engine, if_exists="replace", index=False)

1

In [14]:
df

,user_id,age,gender,location,brand,os,screen_time,data_usage,calls_duration,app_count,social_time,e-commerce_spend,streaming_time,gaming_time,monthly_recharge,primary_use
1,U00001,53,Male,Mumbai,Vivo,Android,3.7,23.9,37.9,104,3.9,469,5.2,4.1,803,Education
2,U00002,60,Other,Delhi,Realme,iOS,9.2,28.1,13.7,169,2.8,4997,5.1,0.4,1526,Gaming
3,U00003,37,Female,Ahmedabad,Nokia,Android,4.5,12.3,66.8,96,3.0,2381,1.7,2.9,1619,Entertainment
4,U00004,32,Male,Pune,Samsung,Android,11.0,25.6,156.2,146,5.2,1185,3.2,0.3,1560,Entertainment
5,U00005,16,Male,Mumbai,Xiaomi,iOS,2.2,2.5,236.2,86,5.5,106,3.4,2.3,742,Social Media
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17682,U17682,27,Other,Mumbai,Apple,iOS,7.2,36.6,90.4,81,5.1,4007,3.8,3.3,1380,Entertainment
17683,U17683,40,Female,Chennai,Oppo,iOS,9.5,12.9,243.0,166,4.3,8550,3.4,0.7,222,Education
17684,U17684,34,Female,Ahmedabad,Realme,Android,1.1,48.9,74.7,70,5.3,5516,0.7,4.0,1612,Entertainment
17685,U17685,22,Male,Hyderabad,Vivo,Android,8.8,25.6,105.6,96,2.4,3614,6.6,0.8,1528,Work
17686,U17686,43,Other,Kolkata,Oppo,iOS,5.6,22.5,215.2,78,5.1,5332,0.8,3.6,1098,Gaming